<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title mode="md" class="ion-no-padding">
      <ion-label>
        <ion-text color="dark">Welcome</ion-text>
        <p><ion-text color="light">Nikhil Ag</ion-text></p>
      </ion-label>
    </ion-title>
    <ion-avatar slot="end">
      <img src="assets/user.png"/>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
 <ion-row class="banners">

    <ng-template swiperSlide *ngFor="let accounts of account">
     <div align="center">
      <ion-label>
        <span>
          Total Balence
        </span>
        <p class="acc-amt"><ion-text color="white">
          <span>{{accounts.acc_no}}</span>
        </ion-text></p>
      </ion-label>
     </div>
    </ng-template>

 </ion-row>
</ion-content>
